n8n/workflows/autopilot_daily_full_pipeline.json
{
  "name": "Amharic Recap - Autopilot (Daily Full Pipeline)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "daily-schedule",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://runner:8000/api/pipeline/full",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "auto_select",
              "value": "=true"
            }
          ]
        },
        "options": {
          "timeout": 7200000
        }
      },
      "id": "run-pipeline",
      "name": "Run Full Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "success"
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Pipeline OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "errorMessage": "Pipeline failed: {{ $json.error }} {{ $json.message }}"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [850, 420]
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Run Full Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Full Pipeline": {
      "main": [
        [
          {
            "node": "Pipeline OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline OK?": {
      "main": [
        [],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["amharic-recap", "autopilot", "daily"],
  "triggerCount": 1,
  "updatedAt": "2026-02-08T00:00:00.000Z",
  "versionId": "1"
}

