n8n/workflows/discovery.json
{
  "name": "Amharic Recap - Discovery",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://runner:8000/api/discover",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "queries",
              "value": "=[\"movie recap\", \"story recap\", \"ending explained recap\", \"recap explained\"]"
            },
            {
              "name": "top_n_channels",
              "value": "10"
            },
            {
              "name": "videos_per_channel",
              "value": "5"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "discover-channels",
      "name": "Discover Channels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "success"
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO daily_reports (report_date, videos_produced) VALUES (CURRENT_DATE, {{ $json.videos.length }}) ON CONFLICT (report_date) DO UPDATE SET videos_produced = EXCLUDED.videos_produced",
        "options": {}
      },
      "id": "save-discovery-stats",
      "name": "Save Discovery Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [850, 200],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "videos",
              "value": "={{ JSON.stringify($json.videos) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-videos",
      "name": "Set Videos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "errorMessage": "Discovery failed: {{ $json.error }}"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Discover Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discover Channels": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Save Discovery Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Videos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["amharic-recap", "discovery"],
  "triggerCount": 1,
  "updatedAt": "2026-02-04T00:00:00.000Z",
  "versionId": "1"
}
